@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin ally-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@mixin hidden {
  display: none;
}